<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Template</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
{% comment %} <div class="text-right m-1">
    <button id="exportButton" class=" btn btn-secondary">Download PDF</button>
</div> {% endcomment %}
<body class="" id="report-content">

    <pre>
{% comment %} {{ summary|pprint }} {% endcomment %}
    </pre>

    <section class="container text-center border border-dark my-5">

        <img src="{{ summary.photo }}" alt="Home Photo" class="img-fluid">
        <h1>Home Inspection Report</h1>
        <hr class="border border-dark">
        <p class="font-weight-bold">Inspection Date:</p>
        <p>Thursday, December 2, 2021</p>
        <p class="font-weight-bold">Prepared For:</p>
        <p>{{ summary.report_details.address }}</p>
        <p>{{ summary.report_details.client_name }}</p>
        <p class="font-weight-bold">Prepared By:</p>
        <p>{{ summary.report_details.user.email }}</p>
        <p class="font-weight-bold">Report ID:</p>
        <p>{{ summary.report_details.report_uuid }}</p>
        <p class="font-weight-bold">Inspector:</p>
        <p>Inspector {{ summary.report_details.user.lname }}</p>
        <p class="font-weight-bold">License/Certification #:</p>
        <p>OHI.2021004704</p>
        <p class="font-weight-bold">Inspector Signature:</p>
        <p></p>

    </section>


    <section class="container text-center border border-dark my-5 py-5">

        <h1>Report Overview</h1>
        <h4>Scope Of The Inspection </h4>
        <hr class="border border-dark">
        <p class="text-left">
            All components designated for inspection in the ASHI Standards of Practice are inspected, except as
            may be noted in the "Limitations of Inspection" sections within this report.
            <br><br>It is the goal of the inspection to put a home buyer in a better position to make a buying decision. Not
            all improvements will be identified during this inspection. Unexpected repairs should still be anticipated.
            <br>The inspection should not be considered a guarantee or warranty of any kind.
            <br><br>Please refer to the pre-inspection contract for a full explanation of the scope of the inspection.
        </p>

        <h3 class="font-weight-bold">State Of Occupancy</h3>
        <hr class="border border-dark">
        <p class="text-left">Occupied</p>

        <h3 class="font-weight-bold">Weather Conditions</h3>
        <hr class="border border-dark">
        <p class="text-left">Occupied</p>

        <h3 class="font-weight-bold">Recent Rain</h3>
        <hr class="border border-dark">
        <p class="text-left">Occupied</p>

        <h3 class="font-weight-bold">Soil Conditions </h3>
        <hr class="border border-dark">
        <p class="text-left">Occupied</p>



    </section>

    <section class="container text-center border border-dark my-5 py-5">

        <h1>Report Summary</h1>
        <h4>Roof/ Utility- Approximate Ages </h4>
        <hr class="border border-dark">


        <h3 class="font-weight-bold">Items Needing Further Review </h3>
        <hr class="border border-dark">
        <p class="text-left">-The garage sheathing has moisture staining present. Generally this is a sign of leaks at the roof. If the roof is replaced in
            the near future, the sheathing should be salvageable.</p>

        <h3 class="font-weight-bold">Safety Hazards/ Safety Related Upgrades</h3>
        <hr class="border border-dark">
        <p class="text-left">
            The front steps had a loose railing, recommend securing for safety considerations.
            -There was loose junction on the exterior of the house, recommend securing and sealing.
            -The water heater is missing a drip leg at the relief valve. Installation recommended for safety considerations.
            -Some open junction boxes were in need of covers for safety considerations.
            -The interior window does not stay open. Repairs/replacement recommended for safety considerations.
            -The bedroom window does not stay open. Repairs/replacement recommended for safety considerations.
            -The bedroom window has broken/cracked glass present. Replacement recommended for safety considerations.
            -The bathroom outlet is not GFCI protected. Upgrading to a GFCI protected outlet is recommended for safety considerations.
        </p>

        <h3 class="font-weight-bold">Items To Monitor </h3>
        <hr class="border border-dark">
        <p class="text-left">Occupied</p>

        <h3 class="font-weight-bold">General Maintenance & Upkeep </h3>
        <hr class="border border-dark">
        <p class="text-left">
            -Recommend painting the front step railing to prevent moisture intrusion into the wood.
        </p>

        <h3 class="font-weight-bold">For Your Information </h3>
        <hr class="border border-dark">
        <p class="text-left">
            -There was efflorescence observed on some areas of the foundation walls, which is a sign of moisture intrusion through the
            walls. Recommend monitoring as it did not appear to be a major concern.
                </p>



    </section>




    <section class="container text-center border border-dark my-5 py-5">

        <h1>Receipt/Invoice</h1>
        <hr class="border border-dark">

        <div class="row text-left">
            <div class="col-md-6">
                <pre>
                The Home Detective
                154 E Aurora Rd
                #212
                Northfield, OH 44067
                2166329020
                Date: Thu. Dec. 2, 2021 9:45
                Inspected By: John Farmiloe
                </pre>
            </div>
            <div class="col-md-6">
                <pre>
                    Property Address
                    467 E. 112th St
                    Cleveland , OH 44107
                    Inspection Number: 12022021-01
                    Payment Method:
                </pre>
            </div>
        </div>

        <div class="row text-left">
            <div class="col-md-4">
                <h3 class="font-weight-bold">Inspection</h3>
                <hr class="border border-dark">
                <p class="text-left">Home Inspection</p>
                <p class="text-left">Home Inspection discount</p>

                <hr class="border border-dark">
                <p class="text-left">Total</p>


            </div>
            <div class="col-md-8">
                <h3 class="font-weight-bold">Fee</h3>
                <hr class="border border-dark">
                <p class="text-left">$385.00</p>
                <p class="text-left">-$60.00</p>

                <hr class="border border-dark">
                <p class="text-left">Total $325.00</p>

            </div>
        </div>



    </section>




    {% for report in reports %}
    <!-- Heading Section -->
    <section class="container text-center border border-dark my-5">
        <h1 class="mt-4 text-decoration-underline">{{ report.name }}</h1>

        {% for sub_report in report.items %}
            <!-- Sub Heading Section -->
            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-left">
                        <thead class="thead-dark">
                            <tr>
                                <th class="" style="width: 20%;">{{ sub_report.name }}</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class=""></td>
                                <td class="">
                                    {% for item in sub_report.items %}
                                        <p>{{ item }}</p>
                                    {% endfor %}

                                </td>
                            </tr>

                            <tr>
                                <td class="">Comments:</td>
                                <td class="">
                                    {% for comment in sub_report.comments %}
                                        <p>-{{ comment }}</p>
                                    {% endfor %}

                                </td>
                            </tr>
                            <tr>
                                <td class="">Photos:</td>
                                <td class="">
                                    <!-- Pictures Section -->
                                    <div class="px-2">
                                        <div class="row">
                                            {% for comment, photo in sub_report.comments_photos %}
                                                <div class="col-md-4 mb-4">
                                                    <img src="{{ photo }}" alt="Photo" class="img-fluid">
                                                    <p class="p-2">{{ comment|default:'' }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

    </section>

    {% endfor %}




    <!-- Bootstrap JS and Popper.js (Optional, for Bootstrap functionality) -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function exportHTMLtoPDF() {
           let htmlElement = document.getElementById('report-content');

           html2pdf().from(htmlElement).save('House-Inspection-Report.pdf');
        }

        document.getElementById('exportButton').addEventListener('click', exportHTMLtoPDF);
     </script>
</body>
</html>
